<div class="member">
    <div class="member__content">
        <h4 class="member__name">
            {{ member.name }}
        </h4>
    
        {% if member.position %}
            <span class="member__position">{{ member.position }}</span>
        {% endif %}
    
        {% if member.email %}
            <a class="member__email" href="mailto:{{ member.email }}">{{ member.email }}</a>
        {% endif %}
    
        {% if member.phone %}
            <a
                class="member__phone"
                href="tel:{{ member.phone }}">
                {{ member.phone }}
            </a>
        {% endif %}
    
        {% if member.tribal_affiliation %}
            <span class="member__tribal-affiliation">{{ member.tribal_affiliation }}</span>
        {% endif %}
    </div>
</div>