{% extends 'blocks/module.twig' %}

{% block content %}

	{% if module.posts %}
		{% for post in module.posts %}
			<div class="feed-post__inner">
				<div class="row no-gutters">
					<div class="col-md-9 col-lg-7">
						{% if post.thumbnail %}
							<div class="feed-post__image-wrap">
								<img alt="" class="feed-post__image" src="{{ post.thumbnail.src('hd') }}">
							</div>
						{% endif %}
					</div>

					<div class="col-md-8 offset-md-4 col-lg-5 offset-lg-0">
						<div class="feed-post__content">
							<span class="feed-post__date">
								{{ post.date|date('F Y') }}
							</span>

							<h3 class="feed-post__title">
								<a href="{{ post.link }}">{{ post.title }}</a>
							</h3>

							<p class="feed-post__preview">{{ post.preview.read_more('') }}</p>

							<a class="feed-post__more" href="/updates">More Updates <span aria-hidden="true">&raquo;</span></a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}

{% endblock %}