{% extends 'blocks/module.twig' %}

{% block content %}

	<div class="row">

		{% if module.intro %}
			<div class="col-md-7 col-lg-8">
				{% if module.heading or module.subheading %}
					<div class="next-meeting__header">
						{% if module.heading %}
							<h2 class="next-meeting__heading">{{ module.heading }}</h2>
						{% endif %}

						{% if module.subheading %}
							<span class="next-meeting__subheading">{{ module.subheading }}</span>
						{% endif %}
					</div>
				{% endif %}

				<div class="next-meeting__intro">
					{{ module.intro }}

					{% if module.link.url %}
						<p><a class="button" href="{{ module.link.url }}" target="{{ module.link.target }}">{{ module.link.title }}</a></p>
					{% endif %}
				</div>
			</div>
		{% endif %}

		{% if module.next-meeting or module.contact.url %}
			<div class="col-md-5 col-lg-4">
				<div class="next-meeting__next-meeting">
					{% if module.next-meeting %}
						{{ module.next-meeting }}
					{% endif %}

					{% if module.contact.url %}
						<p><a class="next-meeting__contact" href="{{ module.contact.url }}" target="{{ module.contact.target }}">{{ module.contact.title }} <span aria-hidden="true">&raquo;</span></a></p>
					{% endif %}
				</div>
			</div>
		{% endif %}

	</div>

{% endblock %}