{% extends 'blocks/module.twig' %}

{% block content %}

	<div class="row">

		{% if module.intro %}
			<div class="col-md-7 col-lg-8">
				{% if module.heading or module.subheading %}
					<div class="eligibility__header">
						{% if module.heading %}
							<h2 class="eligibility__heading">{{ module.heading }}</h2>
						{% endif %}

						{% if module.subheading %}
							<span class="eligibility__subheading">{{ module.subheading }}</span>
						{% endif %}
					</div>
				{% endif %}

				<div class="eligibility__intro">
					{{ module.intro }}

					{% if module.link.url %}
						<p><a class="button" href="{{ module.link.url }}" target="{{ module.link.target }}">{{ module.link.title }}</a></p>
					{% endif %}
				</div>
			</div>
		{% endif %}

		{% if module.eligibility or module.contact.url %}
			<div class="col-md-5 col-lg-4">
				<div class="eligibility__eligibility">
					{% if module.eligibility %}
						{{ module.eligibility }}
					{% endif %}

					{% if module.contact.url %}
						<p><a class="eligibility__contact" href="{{ module.contact.url }}" target="{{ module.contact.target }}">{{ module.contact.title }} <span aria-hidden="true">&raquo;</span></a></p>
					{% endif %}
				</div>
			</div>
		{% endif %}

	</div>

{% endblock %}